body{
    background-color: black;
}

.bars{
    display: flex;
    padding-left: 50px;
    margin: 0px auto;
    width: 90%;
}
.bar{
    background-color: yellow;
    width: 1%;
    margin-right: 1px;
    /* border-color: 10px solid black; */
}
.bor{
    border-color: 15px solid blue;
}